@import url("./estilo/header.css");
@import url("./estilo/banner.css");

:root{
    --cor-de-fundo: #FFC341;
    --cor-de-fonte:black;
}
body{
    background-color: var(--cor-de-fundo);
}

.lista li{
    margin: 10px 0;

}