.banner{
display: flex;
}
.banner h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.textos{
    font-size: 10;

}

.textos h2{
    font-size: 30px;
    display: flex;
    margin-left: 55px;

}
.textos img{
    display: flex;
    margin-left: 90px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.textos p{
    font-size: 20px;
    display: flex;
    margin-left: 20px;
}
.textos h1{
    margin-bottom: 10px;
    margin-top: 10px;
}
