.cabecalho{
    background-color:var(--cor-de-fundo);
    color: var(--cor-de-fonte);
    font-size: 18px;
    display: grid;
    grid-template-columns: 10% 90%;
    justify-content: space-between;
}
.cabecalho--menu-hamburguer{
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-left: 25px;
    display: inline-block;

}
.cabecalho--logo{
    height: 150px;
    width: 150px;
    margin-right: 140px;

}
.cabecalho--botao{
    display: none;
}

@media(min-width:1024px){
    .logo{
        width: 600px;
        margin-left: 425px;
    
    }
}