.cabecalho{
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-fonte);
}
.cabecalho--menu-hamburger{
    height: 240px;
    width: 240px;
    background-repeat: no-repeat;
    background-position: center;
    background-image:url("../img/barras.png");
}